 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3>Hello</h3>
                    <p>We are a friendly club that contains many disciples. We currently have members that fly fixed wing, helicopters, quad copters. <br>
                    We welcome new members of all skill levels, we are able to teach you to fly.</p>

                    <p>If you are looking for a new club to fly at or looking to learn; Please get in touch.</p>
                </div>
                <div class="col-lg-6">
                    <h3>Flying Times</h3>

                    <h4>Summer</h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Day</th>
                            <th>Times</th>
                            <th>Restrictions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Monday</td>
                            <td>11am - 5pm</td>
                            <td>Silent Flight</td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td>11am - 5pm</td>
                            <td>All</td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td>11am - 5pm</td>
                            <td>Silent Flight</td>
                        </tr>
                        <tr>
                            <td>Thursday</td>
                            <td>11am - 5pm</td>
                            <td>Silent Flight</td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>11am - 5pm</td>
                            <td>All</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>11am - 5pm</td>
                            <td>Silent Flight</td>
                        </tr>
                        <tr>
                            <td>Sunday</td>
                            <td>11am - 5pm</td>
                            <td>All</td>
                        </tr>
                        </tbody>
                    </table>


                    <h4>Winter</h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Day</th>
                            <th>Times</th>
                            <th>Restrictions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Monday</td>
                            <td>11am - 5pm</td>
                            <td>Silent Flight</td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td>11am - 5pm</td>
                            <td>All</td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td>11am - 5pm</td>
                            <td>Silent Flight</td>
                        </tr>
                        <tr>
                            <td>Thursday</td>
                            <td>11am - 5pm</td>
                            <td>Silent Flight</td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>11am - 5pm</td>
                            <td>All</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>11am - 5pm</td>
                            <td>Silent Flight</td>
                        </tr>
                        <tr>
                            <td>Sunday</td>
                            <td>11am - 5pm</td>
                            <td>All</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>