<!-- Download Section -->
<section class="success" id="downloads">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Downloads</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button style="font-size:24px" href="{{ site.url }}/download/file.pdf">Member Application Form <i class="fa fa-file-pdf-o"></i></button>
            </div>
        </div>
    </div>
</section>