<style>
    .map {
        width:100%;
        height:500px;
    }


    .map-wrap {
        position:relative;
    }

    .overlay {
        width:100%;
        min-height:500px;
        position:absolute;
        top:0;
    }
</style>


<!-- Portfolio Grid Section -->
<section id="map" style="padding: 0">

    <div class="map-wrap">
        <div class="overlay" onClick="style.pointerEvents='none'"></div><!-- wrap map iframe to turn off mouse scroll and turn it back on on click -->

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2667.854368135692!2d-2.6486384358498776!3d53.633744886241324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTPCsDM4JzAxLjUiTiAywrAzOCc0Ny45Ilc!5e1!3m2!1sen!2suk!4v1482097909511" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Find Us</h2>
                <p>We are located with the Yarrow Valley park. The map show the exact location of our flying site. </p>
                <p>Access to the field is just before the waste recycling centre post code PR7 3QN.</p>
            </div>
        </div>
    </div>

</section>