
<!-- Image Section
<section id="title-imgs">-->
        <div class="row">
            <div class="col-sm-4 hidden-xs no-padding">
                <img src="img/landing-page-images/1.jpg" class="img-responsive title-img" alt="Aeroplane">
            </div>
            <div class="col-sm-4 hidden-xs no-padding">
                <img src="img/landing-page-images/3.jpg" class="img-responsive title-img" alt="Aeroplane">
            </div>
            <div class="col-sm-4 hidden-xs no-padding">
                <img src="img/landing-page-images/2.jpg" class="img-responsive title-img" alt="Aeroplane">
            </div>
        </div>
<!--
</section>
-->